               
        
               
               
               body {
                    background-color:  #8b94bb;
                    font-family: Arial;
                    margin: 0 ;
                }
                div.contenue {
                    background-color: white;
                    margin: 60px 10% 50px 10%;
                    padding: 0px 30px 30px 30px;
                    min-width: 351px;
                    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
                    overflow: visible;

                }
                h1 {
                        text-align: center;
                        margin-bottom: 15px;

                }
                p.description {
                    text-align: center;
                    max-width:400 ;
                    display: inline-block ;
                    font-size: 14px;
                    
                }
                .center{
                text-align: center;
                width: 100%;

                }
                p.categorie{
                    background-color: black;
                    color: white;
                    display: inline-block;
                    margin-top: -19px;
                    padding: 8px 18px;
                    margin-bottom: 0px;
                    font-weight: bold;
                    font-size: 16px;
                }
                div.categorie {
                    margin-bottom: 0px;
                    margin-top: 0px;
                    overflow: visible;


                }
                div.separateur {
                    width: 111px;
                    height: 1px;
                    background-color: black;
                    margin-left: auto;
                    margin-right: auto;
                }
                div.info {
                    position: relative;
                    
                }
                table.info {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    color: white;
                    background-color:#6C829DC0 ;
                }
                table.info td {
                    text-align:center ;
                    font-size: 14px;
                    vertical-align: top;

                }
                table.info th {
                    font-size: 16px;
                    vertical-align: bottom;
                    vertical-align: top;
                    padding: 15px;

                }
                img.info {
                display: block;
                max-height: 411px;
                object-fit: cover;
                min-height: 199;
                background-color: lightgray;
            }

            div.colonne{
                width: 45%;



            }

            div.colonne h2{ 
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            border-bottom: 5px solid #6C829DC0;
            padding-bottom: 5px;
            


            }

            div.colonne1{
          
                margin-right: 10%;
                
            
                display: inline-block;

            }

            div.colonne2 {
                float: right;
       
                

            }
            div.ingredient p{
                text-align: center;
                font-size: 14px;
                border: 1px solid lightgray;
                padding: 8px 0px;
                margin-top: 4px;
                margin-bottom: 0px;

 }
          
            table.preparation p.numero{
                background-color:#6C829DC0;
                color: white;
                width: 19px;
                height: 19px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                padding-top: 4px;
                box-sizing: border-box;
                border-radius: 51%;
                margin: 0;


            }
            table.preparation td{
                vertical-align: top;




            }
            table.preparation.etape td {
                font-size: 14px;
                padding-left: 11px;
                padding-bottom: 11px;
                

             }
             table.preparation tr{
                height: 39px;


             }






